* {
  box-sizing: content-box;
}

body {
  width: 100vh;
  height: auto;
  background: radial-gradient(circle, #222121 0%, #8b9cd3 100%);
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


h1,
h2 {
  margin: 5px;
  text-transform: uppercase;
}

b {
  padding-right: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #f0d0d0;
}

i {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
  color: #fffefb;
}


.head {
  text-transform: uppercase;
  text-align: center;
  width: 1480px;
  background-color: #0c0c0ccc;
  color: #f0ffff;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.wrapper {
  width: 1480px;
  background-color: #3d3d2033;
  align-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  color: #f0ffff;
}


.cont-ball {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
}

.ball {
  height: 5px;
  min-width: 25%;
  background-color: #ff0000;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  25% {
    transform: rotateY(-90deg);
  }

  50% {
    transform: rotateY(-180deg);
  }

  75% {
    transform: rotateY(-270deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}